body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef1f4;
    margin: 0;
    padding: 0;
    color: #333;
}
 
header {
    text-align: center;
    padding: 25px;
}
 
header h1 {
    margin: 0;
    font-size: 36px;
}
 
main {
    width: 85%;
    margin: auto;
    padding: 20px;
}
 
 
h2 {
    color: #1f2a38;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}
 
h3 {
    color: #34495e;
    margin-top: 15px;
}
 
p {
    line-height: 1.6;
    text-align: justify;
}
 
footer {
    background-color: #1f2a38;
    color: white;
    text-align: center;
    padding: 12px;
}

body {
    background-color: #284058e0;
}
.hero {
    min-height: 260px;
    background-image:
        linear-gradient(rgba(20,30,40,0.75), rgba(20,30,40,0.75)),
        url("https://img2.rtve.es/n/2452264");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 100px;
    position: relative;
}

.menu {
    position: absolute;
    top: 20px;
    right: 30px;
    background: rgba(0,0,0,0.4);
    padding: 10px 15px;
    border-radius: 8px;
}

.menu a {
    color: #ffffff;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #ffd700;
}

section {
    background-color: rgba(255, 255, 255, 0.80);
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 14px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

h2 {
    color: #0d47a1;
    border-bottom: 3px solid #0d47a1;
    padding-bottom: 6px;
}

h3 {
    color: #333;
}

.pieza {
    width: 80px;
    display: block;
    margin: 10px 0 15px 0;
}

body {
    background-color: #284058e0;
}